<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Mi Proyecto de Hongos{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <!-- Header con barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-fungi">
      <div class="container-fluid">
        <a class="navbar-brand text-dark navbar-text-logo" href="/">El Reino Fungi <img src="{{ url_for('static', filename='images/logo-hongo.png') }}" 
            class="img-fluid rounded-start" alt="Logo-Reino-Fungi"></a>
      </div>
      {% if not current_user.is_authenticated %}
      <div class="auth-buttons container d-flex justify-content-end">
        <a href="{{ url_for('login') }}" class="btn btn-success">
          Iniciar Sesión
        </a>
        <a href="{{ url_for('registro') }}" class="btn btn-primary">
          Registrarse
        </a>
        {% else %}
        <h6 class="text-dark">Bienvenido, <strong>{{ current_user.nombre }}!</strong></h6>
        <a href="{{ url_for('logout') }}" class="btn btn-secondary">
          Cerrar Sesión
        </a>
        {% endif %} 
      </div>
    </nav>

    <!-- Flash messages -->
    <div class="container mt-3">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        {% for message in messages %} {{ message }} {% endfor %}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endif %} {% endwith %}
    </div>

    <!-- Contenido de cada página -->
    <div class="container">{% block content %}{% endblock %}</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
