{% extends 'base.html' %}
{% block title %}Sobre Nosotros - El Reino Fungi{% endblock %}

{% block content %}
<div class="mt-5 mb-5 text-center seccion-blanca">
    <h1>Sobre Nosotros</h1>
    <p class="mt-3">En <strong>El Reino Fungi</strong> somos apasionados por los hongos medicinales y comestibles. 
        Creemos en el poder de la naturaleza para mejorar la salud y la calidad de vida de las personas. 
        Nuestro compromiso es ofrecer productos de alta calidad, cuidadosamente seleccionados, para que nuestros clientes puedan disfrutar de los mejores beneficios de los hongos medicinales y naturales.</p>
    <p>¡Gracias por confiar en nosotros como tu fuente de bienestar natural!</p>
</div>
{% endblock %}