<!-- templates/registro.html -->
{% extends "base.html" %}

<!-- Titulo de la pagina -->
{% block title %}Registro - El Reino Fungi{% endblock %} {% block content %}
<div class="container mt-4">
  <!-- Titulo de la seccion -->
  <h1 class="mb-4">Registro de Usuario</h1>

  <!-- Contenido de la pagina -->
  <form method="POST" class="mb-3">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input
        type="text"
        name="nombre"
        id="nombre"
        class="form-control"
        required
      />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Correo Electrónico:</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        required
      />
    </div>

    <div class="mb-3">
      <label for="contrasena" class="form-label">Contraseña:</label>
      <input
        type="password"
        name="contrasena"
        id="contrasena"
        class="form-control"
        required
      />
    </div>

    <button type="submit" class="btn btn-success">Registrar</button>
  </form>

  <p>
    ¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Iniciar sesión</a>
  </p>

  <a href="{{ url_for('home') }}" class="btn btn-secondary mt-2"
    >Volver al Inicio</a
  >
</div>
{% endblock %}
